.example-full-width {
  width: 100%;

  @media screen and (max-width: 568px) {
    tr {
      display: flex;
      flex-wrap: wrap;

      td {
        width: 100%;
      }
    }
  }
}

mat-hint {
  color: gray;
}

#description {
  height: 20px;
}

#group {
  padding: 19px;
  border-radius: 10px;
  border: solid 1px black;

  ::placeholder {
    color: red;
  }
}
