<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <input
            matInput
            class="ml-5 mr-10"
            type="text"
            name="firstname"
            id="firstname"
            [(ngModel)]="employee.firstName"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            class="ml-5 mr-10"
            type="text"
            name="lastname"
            id="lastname"
            [(ngModel)]="employee.lastName"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            class="ml-5 mr-10"
            name="email"
            id="email"
            matInput
            [(ngModel)]="employee.email"
            placeholder="jhondoe@gmail.com"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Birthdate</mat-label>
          <input
            matInput
            [matDatepicker]="pickerBirthdate"
            [max]="todayDate"
            id="birthdate"
            name="birthdate"
            class="ml-5 mr-10"
            (dateChange)="updateEmployeeBirthDate($event.target.value)"
            [value]="
              type === 'add'
                ? updateEmployeeBirthDate(employee.birthDate)
                : convertTimestampToDate(employee.birthDate)
            "
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerBirthdate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerBirthdate></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Basic Salary</mat-label>
          <input
            matInput
            type="number"
            id="basicsalary"
            name="basicsalary"
            [(ngModel)]="employee.basicSalary"
            placeholder="10000000"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Status</mat-label>
          <mat-select
            matSelect
            id="status"
            name="status"
            [(ngModel)]="employee.status"
          >
            <mat-option>None</mat-option>
            <mat-option value="married">Married</mat-option>
            <mat-option value="single">Single</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            placeholder="Search Group"
            aria-label="Search Group"
            [matAutocomplete]="auto"
            [formControl]="groupControl"
            (input)="filterGroups($event)"
            [(ngModel)]="employee.group"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="selectGroup($event.option.viewValue)"
          >
            <mat-option *ngFor="let group of filteredGroups" [value]="group">
              {{ group }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <input
            matInput
            [matDatepicker]="pickerDescription"
            id="description"
            [max]="todayDate"
            name="description"
            class="ml-5 mr-10"
            (dateChange)="updateEmployeeDescription($event.target.value)"
            [value]="
              type === 'add'
                ? updateEmployeeDescription(employee.description)
                : convertTimestampToDate(employee.description)
            "
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerDescription"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerDescription></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
