.employee-list {
  .header {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action-list {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
    }

    .form-field-search {
      display: flex;
      height: 30px;
      border-radius: 5px;
      border: solid 1px black;
      margin-right: 10px;
    }
  }

  table,
  th,
  td {
    width: 100%;

    border: 1px solid black;
    border-collapse: collapse;
  }

  table,
  thead,
  tbody {
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
}
